.toggle {
  display: flex;
  align-items: center;
  border: 1px solid color-primary(10);
  width: fit-content;
  border-radius: $border-radius;

  .toggle__quantity div {
    width: 40px;

    input {
      text-align: center;
      height: 100%;
      padding: 0;
      -webkit-text-fill-color: color-dark(1);
    }

    fieldset {
      border: none;
    }
  }
}
