.product {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.horizontal {
    flex-direction: row;
  }

  &.clickable {
    cursor: pointer;
  }

  .product__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 240px;

    .product__info {
      display: flex;
      flex-direction: column;

      .info__title {
        @include text-h4;
      }

      .info__subtitle {
        @include text-h5;
      }
    }

    .product__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-lg;
      font-weight: 500;
      line-height: 1;
      height: 31px;
    }
  }
}
