.products {
  @include mix-framework;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .products__header {
    display: flex;
    justify-content: space-between;

    .header__title {
      @include text-h3;
    }

    .header__subtitle {
      @include text-h6;

      > span {
        color: color-primary(5);
      }
    }

    .header__actions {
      display: flex;
      align-items: flex-end;
      gap: 6px;
    }
  }

  .products__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
