.carousel {
  position: relative;
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .carousel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    .header__title {
      @include text-h3;
    }
  }

  .carousel__items {
    display: flex;
    gap: 48px;
    transition: margin-left 450ms ease;
    width: fit-content;
  }
}
