.carousel {
  position: relative;
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .carousel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    .header__title {
      @include text-h3;
    }
  }

  .carousel__items {
    display: flex;
    gap: 48px;
    transition: margin-left 450ms ease;
    width: fit-content;
  }

  .carousel__indicator {
    height: 6px;
    border-radius: 3px;
    background-color: color-light(4);
    margin: 0 auto;

    .indicator__slider {
      height: 100%;
      background-color: color-dark(4);
      transition: margin-left 450ms ease;
      border-radius: 3px;
    }
  }
}
