.navBar {
  @include mix-framework-extended;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .navBar__right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
