.drawer__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .inputs__image {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .image__label {
      @include text-h6;
    }

    .image__uploads {
      position: relative;
      width: fit-content;

      .uploads__edit {
        position: absolute;
        top: 6px;
        right: 6px;
      }
    }
  }
}

.drawer__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
