.drawer__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.drawer__checkout {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .checkout__total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > :last-child {
      @include text-h3;
    }
  }
}
